extends layout

block content
  div#wrap
    div#topbar.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#logo.navbar-brand(href="#") Textree
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
          div#version.nav.navbar-nav.navbar-right.navbar-text.hidden-xs.hidden-sm= 'version ' + version + ' (pre-alpha) ' + prod
    div#content.container(role="main")

block scripts
  if (prod == 'production')
    script(data-main='build/js/client-optimized.js', type='text/javascript', src='/js/libs/require.js')
  else
    script(data-main='js/boot', type='text/javascript', src='/js/libs/require.js')