extends layout

block content
  div#topbar
    div#logo Textree 
    ul
    div#version= 'version ' + version + ' (pre-alpha) ' + prod
  div#content

block scripts
  if (prod == 'production')
    script(data-main='build/js/client-optimized.js', type='text/javascript', src='/js/libs/require.js')
  else
    script(data-main='js/boot', type='text/javascript', src='/js/libs/require.js')