doctype html
html(lang="en")
  head
    title Textree
    link(rel='stylesheet',href='/styles/bootstrap.min.css')
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='shortcut icon',href='favicon.ico')
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    block content
    div#footerpush
    footer &copy; Textree 2014
    block scripts
