doctype html
html(lang="en")
  head
    title Textree
    link(rel='stylesheet',href='/styles/bootstrap.min.css')
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='shortcut icon',href='favicon.ico')
  body
    block content
    block scripts