<div style="margin-top: 40px">
<h1>Overview</h1>
<p>
	This website allows to create and read <b>text trees</b>, which are texts organized in an inverted tree-like structure. See <a href="#help">Help</a> for more details on how it works.
</p>	

<p>
	I had the first ideas about this project around 2000 but it is only in 2013 when I bumped into Node.js and its magic world that I finally realized I might to able to build it myslef.
</p>

<h1>Open source</h1>
<p>
	This is an open source project. Source code of the client/server can be found on github @ <a href="https://github.com/lu22do/textree">github.com/lu22do/textree</a>.
</p>

<h1>Legalese</h1>
<p>
	All content contributed on this site remains the property of its contributor however, by setting your content to be viewed publicly, you agree to allow others to view your content.
</p>
</div>