<% if (parent) { %>
<a href="#branch/<%= parent %>">Go to parent</a></li>
<% } %>

<p>
<div>
	<% if (parent) { %>
	Title: <%= title %>
	<% } else { %>
	Root branch
	<% } %>
</div>

<textarea id='branch_text' style='width: 100%' rows="10"><%= text %></textarea>

<a class="button" id="savebranch_button">Save Edits</a>
<span id='save_branch_done'>Done</span>

<p>
<% if (children.length) { %>
Children branches:
<ul id='children_branch_list'>
  <% _.each(children, function(branch) { %>
  <li><a href="#branch/<%= branch._id %>"><%= branch.title %></a></li>
  <% }); %>
</ul>
<% } %>

<p>

<form id='new_branch'>
  <fieldset>
    <legend>Add new child branch</legend>
    <label>Title:<input type="text" name="title" /></label>
    <a class="button" id="createbranch_button">Confirm</a>
  </fieldset>
</form>