<div class="col-md-9 textcolumn">

  <!-- Text editor -->
  <div id="texteditor_container<%= branch.depth %>" style="display:none;">

    <div class="form-group form-inline">
      <% if (branch.parent) { %>
      <table style="width: 100%; margin-bottom: 20px;">
        <tr>
          <td>
            Branch&nbsp;name:&nbsp;
          </td>
          <td style="width: 100%;">
            <input id="branch_title<%= branch.depth %>" class="form-control" type="text" value="<%= branch.title %>" style="width: 100%;">
          </td>
        </tr>
      </table>
      <% } else { %>
      Root branch
      <% } %>
    </div>

    <textarea id="texteditor<%= branch.depth %>" class="form-control" style="height: 100px"></textarea>

    <% if (branch.author.accountId == loggedAccountId && branch.parent) { %>
    <div class="btn-group-sm"  style="float: left; margin-top: 10px;">
      <a class="btn btn-default" id="delete_branch_button<%= branch.depth %>">Delete this branch</a>
    </div>
    <% } %> 

    <div class="btn-group-sm"  style="float: right; margin-top: 10px;">
      <a class="btn btn-default" id="save_branch_button<%= branch.depth %>">Save Edits</a>
      <a class="btn btn-default" id="cancel_save_branch_button<%= branch.depth %>">Cancel</a>
    </div>

    <div style="clear: both;"></div>
  </div>

  <!-- Read-only text -->
  <div id="text_container<%= branch.depth %>">
    <!-- contenteditable="true" -->
    <div id="text<%= branch.depth %>"><%= branch.text %></div>
  </div>

  <!-- Children -->
  <% if (readingMode === 'branch_by_branch') { %>

  <div id="children_container<%= branch.depth %>" style="font-size: 90%; margin-top: 100px; padding-top: 10px; border-top: 1px solid #F0F0F0;">

    <% if (branch.parent) { %>
      <a class="select_branch_button btn btn-default btn-sm" href="#" value="<%= branch.parent %>" style="float: right;">Go to parent</a>
    <% } %>

    <% if (children.length) { %>
    Jump to branch:
    <ul id='children_branch_list<%= branch.depth %>'>
      <% _.each(children, function(childbranch) { %>
      <li>
        <a class="select_branch_button" href="#" value="<%= childbranch._id %>">
        <%= childbranch.title %> 
        </a>
        <% if (childbranch.author.accountId != loggedAccountId) { %>
        (by <%= childbranch.author.pseudo %>)
        <% } else { %>
        (by me)
        <% } %>
      </li>
      <% }); %>
    </ul>
    <% } %>

    <a id="new_branch_button<%= branch.depth %>" class="btn btn-default btn-sm" role="button">
    Create new child branch
    </a>

  </div> <!-- id="children_container<%= branch.depth %>" -->

  <% } else { %>

  <div id="children_container<%= branch.depth %>" style="display:none; font-size: 90%; margin-top: 10px;">

    <% if (children.length) { %>
    Branches:
    <div id='children_branch_list<%= branch.depth %>'>
      <% _.each(children, function(childbranch) { %>
      <div class="radio" style="margin-bottom: 3px;">
        <label>
          <input class="select_branch_button" type="radio" name="optionsRadios<%= branch.depth %>" value="<%= childbranch._id %>"
            <% if (childbranch.selected ) { %>
            checked
            <% } %>
          >
            <span>
              <%= childbranch.title %>
            </span>
            <% if (childbranch.author.accountId != loggedAccountId) { %>
            (by <%= childbranch.author.pseudo %>)
            <% } else { %>
            (by me)
            <% } %>
        </label>
      </div>
      <% }); %>
    </div>
    <% } %>

    <a id="new_branch_button<%= branch.depth %>" href="#" role="button" data-toggle="tooltip" data-placement="right" title="Add a new child branch">
      <span class="glyphicon glyphicon-plus"></span>
    </a>

  </div> <!-- id="children_container<%= branch.depth %>" -->

  <% } %>

</div> <!-- class="col-md-9 textcolumn" -->

<!-- Right column with icons -->
<div class="col-md-3">
  <div class="btn-group-md">
    
    <!-- Save OK icon -->
    <span id="save_ok<%= branch.depth %>" style="display: none;" class="glyphicon glyphicon-ok-circle"></span>

    <!-- Edit icon -->
    <a id="edit<%= branch.depth %>" style="display: none;" href="#" role="button" data-toggle="tooltip" data-placement="right" title="Edit this branch's tile and text">
      <span class="glyphicon glyphicon-edit"></span>
    </a>

    <% if (readingMode != 'branch_by_branch') { %>

    <!-- Branches icon -->
    <a id="show_branches<%= branch.depth %>" style="display: none;" href="#" role="button" data-toggle="tooltip" data-placement="right" title="Show child branches">
      <span class="glyphicon glyphicon-tree-conifer"></span>
    </a>

    <% } %>
  </div>
</div>

<div id="popup"></div>
