<td>
<%= model.pseudo %>
<% if (model.name.full && model.name.full.length > 0) { %>
(<%= model.name.full %>) 
<% } %>
</td>

<td>
<% if (!addButton) { %>
<% if (!removeButton) { %>
Already a contact
<% } else { %>
<a class="button" href="#profile/<%= model.accountId %>">View</a>
<% } %>
<% } %>

<% if (addButton) { %>
<a class="button" id="addbutton">Add Contact</a>
<% } %>

<% if (removeButton) { %>
<a class="button" id="removebutton">Remove Contact</a>
<% } %>

<span id="actionarea"></span>
</td>