<div style="margin-top: 40px">
<h1>Overview</h1>
<p>
	This website allows to create and read <b>text trees</b>, which are texts organized in an inverted tree-like structure.
</p>	

<p>
	A text tree is made of branches, each branch being a piece of text connected to a parent branch and to several child branches. The starting point of a text tree is its the root branch.
</p>

<p>
	Text trees can be read in a <i>continuous</i> mode allowing to switch branch while reading or in a <i>branch by branch</i> mode much like an adventure game where you don't see in advance the next branches until you choose one.
</p>

<p>
	A text tree can be written in collaboration where various people  contribute their branches to a text tree. It is also possible to keep the tree editable by a single person.
</p>

<h1>Your first tree</h1>
<p>
	Here are the steps to build your first tree:
	<ul>
		<li>Go to <a href="#treelist/me">My trees</a></li>
		<li>Click on "Create a new tree"</li>
		<li>Enter at least a name for your tree</li>
		<li>Enter some initial text for the root branch and click on "Save edits"</li>
		<li>To create child branches, click on the tree icon on the right of the text, then click on the "+" symbol</li>
	</ul>
</p>
</div>