<div class="center">
  <form class="box">
    <fieldset>
      <legend>Login</legend>
      
      <p class="error" id="error"></p>

      <label>
        Email address
        <input type="text" name="email" value="<%= email %>">
      </label>

      <br />

      <label>
        Password
        <input type="password" name="password">
      </label>

      <br />

      <input class="button" type="submit" value="Login Now">
      <a href="#forgotpassword" style="float: right; font-size: 80%;">Forgot Password?</a>
    </fieldset>
  </form>

  <p />
  New here? Please <a href="#register">Sign Up</a>.
</div>
