<div class="center">
  <form class="box">
    <fieldset>
      <legend>Login</legend>
      
      <p class="error" id="login_error">Unable to login!</p>
      <p class="error" id="noemail_error">You need to enter your email!</p>
      <p class="error" id="nopassword_error">You need to enter your password!</p>

      <label>
        Email address
        <input type="text" name="email" value="<%= email %>">
      </label>

      <label>
        Password
        <input type="password" name="password">
      </label>

      <input type="checkbox" name="rememberme" <%= rememberme %>>Remember me</input>
      
      <br />
      <br />

      <input class="button" type="submit" value="Login Now">
      <a href="#forgotpassword" style="float: right; font-size: 80%;">Forgot Password?</a>
    </fieldset>
  </form>

  <p />
  New here? Please <a href="#register">Sign Up</a>.
</div>
