<h1>
<% if (myprofile) { %>
My profile
<% } else { %>
<%= user.get('pseudo') %>'s profile
<% } %>
</h1>
<table>
  <tr>
    <td>Pseudo</td>
    <td><%= user.get('pseudo') %></a></td>
  </tr>
  
  <tr>
    <td>Email</td>
    <td><%= user.get('email') %></td>
  </tr>
  
  <tr>
    <td>Name</td>
    <td>
      <span id="name_ro"><%= user.get('name') %></span>

      <% if (myprofile) { %>

      <input type="text" name="name" value="<%= user.get('name') %>" size=50 style="display:none">

      <a id="edit_name_button" class="btn btn-default btn-sm editbutton">Edit</a>
      <a id="submit_name_button" class="btn btn-default btn-sm pull-right" style="display:none">Submit</a>
      <a id="cancel_name_button" class="btn btn-default btn-sm pull-right" style="display:none">Cancel</a>

      <% } %>
    </td>
  </tr>
    
  <% if (myprofile) { %>
  <tr>
    <td>Password</td>
    <td id="password">
      <a id="change_button" class="btn btn-default btn-sm">Change password</a>
      <a id="submit_button" class="btn btn-default btn-sm" style="display:none">Submit</a>
      <a id="cancel_button" class="btn btn-default btn-sm" style="display:none">Cancel</a>
    </td>
  </tr>
  <% } %>

  <tr>
    <td>Trees</td>
    <td>
      <% var trees = user.get('trees'); var nbTrees = trees ? trees.length : 0; %>
      <% if (myprofile) { %>
      <a class="btn btn-default btn-sm" href="#treelist/me"><%= nbTrees %></a>
      <% } else { %>
      <a class="btn btn-default btn-sm" href="#treelist/<%= user.get('_id') %>/<%= user.get('pseudo') %>"><%= nbTrees %></a>
      <% } %>
    </td>
  </tr>

  <tr>
    <td>Contacts</td>
    <td>
      <% var contacts = user.get('contacts'); nbContacts = contacts ? contacts.length : ''; %>
      <% if (myprofile) { %>
      <a class="btn btn-default btn-sm" href="#contacts/me"><%= nbContacts %></a>
      <% } else { %>
      <%= nbContacts %>
      <% } %>
    </td>
  </tr>

</table>

<h1>Recent activity</h1>
<div class="activity_list"></div>