<div class="center">
  <p class="error" id="email_already_exists_error">An account with this email already exists! Please try again.</p>
  <p class="error" id="pseudo_already_exists_error">An account with this pseudo already exists! Please try again.</p>
  <p class="error" id="invalid_input_error">Invalid input! Please try again.</p>
  <p class="error" id="system_error">System error, please retry later.</p>
  <p class="error" id="account_created">Account created, please login now...</p>

  <form class="box" role="form">
    <fieldset>
      <legend>Create an account</legend>

      <div class="form-group">
        <label>Email address (for login only)</label>
        <input class="form-control" type="text" name="email">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password">
      </div>

      <div class="form-group">
        <label>Pseudo (to identify you)</label>
        <input class="form-control" type="text" name="pseudo">
      </div>
      
      <div class="form-group">
        <label>Your full name (optional)</label>
        <input class="form-control" type="text" name="name">
      </div>

      <input class="btn btn-default" type="submit" value="Register Now" />
    </fieldset>
  </form>
</div>