<div class="center">
  <p class="error" id="email_already_exists_error">An account with this email already exists! Please try again.</p>
  <p class="error" id="pseudo_already_exists_error">An account with this pseudo already exists! Please try again.</p>
  <p class="error" id="invalid_input_error">Invalid input! Please try again.</p>
  <p class="error" id="system_error">System error, please retry later.</p>
  <p class="error" id="account_created">Account created, please login now...</p>

  <form class="box">
    <fieldset>
      <legend>Create an account</legend>

      <label>Email address (for login only)
        <input type="text" name="email">
      </label>

      <label>Password
        <input type="password" name="password">
      </label>
      
      <label>Pseudo (to identify you)
        <input type="text" name="pseudo">
      </label>

      <label>Your full name (optional) 
        <input type="text" name="name">
      </label>

      <input class="btn btn-default" type="submit" value="Register Now" />
    </fieldset>
  </form>
</div>