<h1>Register</h1>

<form>

  <fieldset>
    <legend>Email address (for login only)</legend>
    <label>Email:<input type="text" name="email" /></label>
    <br />
    <label>Email (confirm):<input type="text" name="cemail" /></label>
  </fieldset>

  <fieldset>
    <legend>Password</legend>
    <label>Password:<input type="password" name="password" /></label>
    <br />
    <label>Password (confirm):<input type="password" name="cpassword" /></label>
  </fieldset>

  <fieldset>
    <legend>Pseudo (to identify you)</legend>
    <label>Pseudo:<input type="text" name="pseudo" /></label>
  </fieldset>

  <fieldset>
    <legend>Your name (Optional)</legend>
    <label>First:<input type="text" name="firstName" /></label>
    <br />
    <label>Last:<input type="text" name="lastName" /></label>
  </fieldset>

  <p>
    <input class="button" type="submit" value="Register Now" />
  </p>
</form>