<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Author</th>
    <th>Date</th>
    <th>Delete</th> 
  </tr>
  <% treecoll.each(function(tree) { %>
  <tr>
    <td><a href="#branch/<%= tree.get('rootBranch') %>"><%= tree.get('name') %></a></td>
    <td><%= tree.get('description') %></td>
    <td><%= tree.get('author').pseudo %></td>
    <td><%= tree.get('date') %></td>
    <td>
      <a class="button" id="delete_button" href="" treeid=<%= tree.get('_id') %>>x</a>
    </td>
  </tr>
  <% }); %>
</table>