<div class="row">

  <!-- Vizualizer (foldable) -->
  <div class="col-md-3">
    <div id="treeinfo" style="width: 80%">
      <% if (tree.get('readingMode') === 'branch_by_branch') { %>    
      <h2><a id="treetop" href="#" style="text-decoration: none; color: black;"><%= tree.get('name') %></a></h2>
      <% } else { %>
      <h2><%= tree.get('name') %></h2>
      <% } %>
      <div class="btn-group-md" style="float: right;">
        <a id="edittree" style="color: grey; display:none;" href="#treedetails/<%= tree.get('_id') %>" role="button">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      </div>
      <i>By <%= tree.get('author').pseudo %></i>
      <hr>
      <div id="description" style="display: none;">
        <%= tree.get('description') %>
      </div>
      <br>
      <br>   
    </div>

    <!-- Vizualizer will go here (in continuous reading mode only) -->
  </div>

  <div class="col-md-9" id="branchescolumn" style="padding-top: 30px">

    <!-- Branches -->

  </div> <!-- /col-md-9 -->
</div> <!-- /row -->