<% if (ownertitle) { %>
<h1>
<%= ownertitle %>'s trees
</h1>
<% } %>

<% if (treecoll.length == 0) { %>
No trees
<% } else { %>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
  <% if (withAuthor) { %>
      <th>Author</th>
  <% } %> 
  <% if (complete) { %>
      <th style="width:120px">Creation</th>
      <th style="width:120px">Last update</th>
      <th>Nb of branches</th>
      <th>Details</th>
  <% } %> 
    </tr>
    <% treecoll.each(function(tree) { %>
    <tr>
      <td>
        <a href="#tree/<%= tree.get('_id') %>"><%= tree.get('name') %></a>
      </td>
      <td><%= tree.get('description') %></td>
  <% if (withAuthor) { %>
      <td><a href="#profile/<%= tree.get('author').accountId %>"><%= tree.get('author').pseudo %></a></td>
  <% } %> 
  <% if (complete) { %>
      <% var cdate = new Date(tree.get('date')); %>
      <td><%= cdate.toLocaleDateString() + " " + cdate.toLocaleTimeString() %></td>
      <% var udate = new Date(tree.get('updateDate')); %>
      <td><%= udate.toLocaleDateString() + " " + udate.toLocaleTimeString() %></td>
      <td><%= tree.get('nbBranches') %></td>
      <td>
        <a class="btn btn-default btn-sm" href="#treedetails/<%= tree.get('_id') %>">Details</a>
      </td>
  <% } %> 
    </tr>
    <% }); %>
  </table>
<% } %>

<% if (complete) { %>
<p>
  <a class="btn btn-default" href="#createtree">Create a new tree</a>
</p>
<% } %>
